{% extends 'base.html'%}

{% block title%}<title>TAW - Offering</title>{%endblock%}

{% block content %}
    <!-- Page Content -->
      <div class="jumbotron jumbotron-fluid">
        <div class="col-lg-12 text-center container">
          <strong><p>“Whatever is the new thing that creates differentiation, that’s core.”
          <br>Meanwhile, context is any activity that doesn’t differentiate the company in the eyes of the customer. 
      	  <br>“If we do [context] brilliantly, we don’t succeed. If we do it badly, we get in trouble.”</p></strong>
          <small><strong><footer class="blockquote-footer">Geoffrey Moore (Management Expert)</footer></strong></small>
          <br><br>
          <h5><strong>So focus on your core business and leave the context under my care!</strong></h5>
      	</div>
	  </div>


      <!-- Offerings Section -->
    <div class="container offerings" id='offerings'>  

      <h3 class="my-4 text-center">OFFERINGS</h3>

      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header text-center">Web Services</h4>
            <div class="card-body">
              <p class="card-text">I design and develop websites that looks great and works great on all kinds of devices.<br> And yeah, I don't charge a bomb to do that. <br><strong>Simple, Functional & Affordable. That's my promise.</strong></p>
            </div>
            <div class="card-footer">
              <small><a href="#">Learn More</a></small>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header text-center">Motion Graphics</h4>
            <div class="card-body">
              <p class="card-text">Your content obviously comes first. But what matters is its presentation.<br>I can create stunning visual aids to ensure that your presentation elevates your content.<br><strong>You worry about the content and let me take care of its presentation.</strong></p>
            </div>
            <div class="card-footer">
              <small><a href="#">Learn More</a></small>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header text-center">Automation Tools</h4>
            <div class="card-body">
              <p class="card-text">If you have repeatitive tasks that consume your time and energy, then its time you automate it. <br>I can write scripts to automate web tasks. <br><strong>Job allocation, Web scrapping or simply Indexing.</strong></p>
            </div>
            <div class="card-footer">
              <small><a href="#">Learn More</a></small>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
  </div>

 {% endblock %}